server:
  port: @server.port@
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: @db.url@
    username: @db.user@
    password: @db.password@
    hikari:
      idle-timeout: 30000
      maximum-pool-size: 3
retry-policy:
  maxAttempts: 10
service:
  shumway:
    url: http://localhost:8022/accounter
    networkTimeout: 60000
  partyManagement:
    url: http://hellgate:8022/v1/processing/partymgmt
  dominant:
    url: http://dominant:8022/v1/domain/repository_client
  bustermaze:
    url: http://bustermaze:8022/repo
    polling:
      delay: 10000
      retryDelay: 1000
      maxPoolSize: 1
  dudoser:
    url: http://dudoser:8022/dudos
    mail:
      from: no-reply@rbkmoney.com
      to: trash@rbkmoney.com
report:
  1c:
    file:
      name:
        prefix: test_1c
        extension: .txt
      encoding: Windows-1251
    templateFileName: 1c_payout.ftl
    timezone: Europe/Moscow
scheduler:
  user-id: test


